.filterWrapper {
	position: relative;
}

.filter__button {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid #ffffff;
	border-radius: 60px;
	padding: 6px 20px;
}

.filter__button:not(:nth-child(2)) {
	margin-right: 10px;
}

._btn_text:hover {
	border-color: #d9b6ff;
	color: #d9b6ff;
	cursor: pointer;
}

._btn_text:active {
	border-color: #ad61ff;
	color: #ad61ff;
	cursor: pointer;
}
